body {
    font-family: jura;
    margin: 0;
    padding: 0;
    background-color:black;
}
h1{
    color:#BE3144;
    font-family: jura;
    font-size: 10rem;
    margin:0px;
}
.outer-div {
    display: flex;
    gap:80px;
    flex-direction: row;
    justify-content: center; 
    align-items: center;
    height: 100vh; /* Full viewport height */
    text-align: center;
    margin-left: 50px; /* Remove the existing margin-top */
    margin-right:150px;
}
#upload {
    flex-direction:column;
}
.inner-div{
    display:flex;
    flex-direction: column;
    align-items: flex-start;
    margin:0px;
}
.sub{
    color:#F05941;
    font-family: jura;
    font-size:40px;
    margin:0px;
}
.button
{
    padding : 10px 30px;
    margin-top:20px;
    color:black;
    background-color: #BE3144;
    border:none;
    font-family: jura;
    font-size:20px;
    cursor:pointer;
    transition-duration: 0.4s;
    border-radius: 3px;
}
.in-button
{
    background-color:black;
    color:#BE3144;
}
.button:hover
{
    background-color:black;
    color:#BE3144;
    border:2px solid #BE3144;
}

.in-heading
{
    color:white;
    padding:20px;
    padding-bottom:0px;
    font-size: 35px;
}
#white-box
{
    background-color:white;
    width:400px;
    height:300px;
    border-radius: 20px;
    margin-left: 50px;
}
.mid-square
{
    background-color:#BE3144;
    width: 421px;
    height:412px;
    border-radius:10px;
    align-items:center;
}
#sign-in
{

    height:555px;
}
/*#grey-box
{
    background-color:#0F0C0C;
    width:500px;
    height:300px;
    border-radius: 20px;
}*/
header, nav, section {
    margin: 20px;
    padding: 20px;
    border-radius: 5px;
    background-color: #ffffff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.upload-form input[type="file"] {
    display: none;
}
/* Custom button-like label for file upload */
/* Hover effect for the label */
/*
header h1 {
    margin: 0;
}

nav a {
    margin-right: 15px;
    text-decoration: none;
    color: #333;
}*/

nav a:hover {
    text-decoration: underline;
}

form {
    display: flex;
    flex-direction: column;
}
form input {
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #BE3144;
    border-radius: 4px;
}
label
{
    padding-top:10px;
}