<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Intrusion Detection System</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Medical IoT Home</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Jura:wght@300..700&display=swap" rel="stylesheet">
</head>
<body>
    <div class="outer-div">
        <div class="mid-square">
            <p class="in-heading">Intrusion Detection System</p>
            <p>Choose an option from below</p>
            <a href="upload_dataset"><button class="button in-button">Submit Dataset</button></a>
            <a href="real_time_prediction"><button class="button in-button">Real-Time Prediction</button></a>
        </div>    
    </div>
</body>
</html>
