<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login - Medical IoT</title>
    
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Medical IoT Home</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">


    <!-- Load Firebase App (core SDK) -->
    <script src="https://www.gstatic.com/firebasejs/8.10.0/firebase-app.js"></script>
    
    <!-- Load Firebase Authentication -->
    <script src="https://www.gstatic.com/firebasejs/8.10.0/firebase-auth.js"></script>
    
    <!-- Custom Auth JS -->
    <script src="{{ url_for('static', filename='auth.js') }}"></script>
</head>
<body>
    <div class="outer-div">
        <div class="mid-square inner-div">
            <p class="in-heading">Log In</p>
            <form id="loginForm" onsubmit="login(event)">
                <input type="text" id="username" name="username" placeholder="Email/Username" required>
                <input type="password"  id="password" name="password" placeholder="Password" required>
                
                <button class="button in-button" type="submit">Login</button> 
                <p>Don't have an account? <a href="register">Sign In</a></p>
            </form>

        </div>
    </div>

    <!-- <form id="loginForm" onsubmit="login(event)">
        <label for="username">Username or Email:</label>
        <input type="text" id="username" nam.e="username" required>
        
        <label for="password">Password:</label>
        <input type="password"  id="password" name="password" required>
        
        <button type="submit">Login</button> 
    </form> -->
</body>
</html>
