<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Upload Your Dataset</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Jura:wght@300..700&display=swap" rel="stylesheet">
    <script>
        // Ensure the div is visible on page load
        window.onload = function() {
            document.getElementById('vis').style.display = 'block';
        };

        // Function to hide the 'vis' div when the button is clicked
        function hideUploadDiv() {
            document.getElementById('vis').style.display = 'none';
        }
    </script>
</head>
<body>
    <div class="outer-div">
        <div class="mid-square large" id="vis">
            <p class="in-heading">Upload Your Dataset for Intrusion Detection</p>
            <form class="upload-form" action="/upload_dataset" method="POST" enctype="multipart/form-data">
                <label for="dataset-upload">Choose your dataset:</label>
                <input type="file" id="dataset-upload" name="dataset" accept=".csv, .xlsx, .json">
            <input class="button in-button" type="submit" value="Upload" onclick=hideUploadDiv()  >
            </form>
        </div>
        <div class="results" id="text">
            {% if results %}
                <h3>Intrusion Detection Results</h3>
                {{ results | safe }}
            {% endif %}
        </div>
    </div>
</body>
</html>
